*.swp
presentations/*/index.html
.vagrant
*.s
*.so
*.idb
*.nam
*.til
*.id0
*.id1
*.o

presentations/02-exploitation/assignments/integer_conversion
presentations/02-exploitation/assignments/integer_overflow
presentations/02-exploitation/examples/simple_login
presentations/02-exploitation/examples/simple_login_canary
presentations/02-exploitation/images/simple_login_stack.png
presentations/02-exploitation/images/simple_login_stack_canary.png

presentations/03-shellcoding/examples/*.elf
presentations/03-shellcoding/examples/*.shellcode

**/peda-session*
**/core
**/.gdb_history

presentations/01-reversing/assignments/.gdbinit
presentations/01-reversing/assignments/ProsaBomb.bin
presentations/01-reversing/assignments/breakme
presentations/01-reversing/assignments/*.c
presentations/01-reversing/assignments/core
presentations/01-reversing/assignments/.gdb_history
presentations/01-reversing/blar
presentations/01-reversing/examples/prologue_epilogue.s_0
presentations/01-reversing/examples/prologue_epilogue.s_1
presentations/01-reversing/examples/prologue_epilogue.s_2
presentations/01-reversing/examples/prologue_epilogue.s_3
presentations/01-reversing/examples/prologue_epilogue.s_4
presentations/01-reversing/examples/prologue_epilogue.s_5
presentations/01-reversing/examples/t
presentations/01-reversing/examples/t.c
presentations/01-reversing/images/got_plt_01.png
presentations/01-reversing/images/got_plt_02.png
presentations/01-reversing/images/main_stack_frame.png
presentations/01-reversing/images/prologue_epilogue_01.png
presentations/01-reversing/images/prologue_epilogue_02.png
presentations/01-reversing/images/prologue_epilogue_03.png
presentations/01-reversing/images/prologue_epilogue_04.png
presentations/01-reversing/images/prologue_epilogue_05.png
presentations/01-reversing/images/sar.png
presentations/01-reversing/images/shl.png
presentations/01-reversing/images/shr.png
presentations/01-reversing/images/rol.png
presentations/01-reversing/images/ror.png
presentations/01-reversing/images/and.png
presentations/01-reversing/images/or.png
presentations/01-reversing/images/xor.png
presentations/01-reversing/index.xml
presentations/01-reversing/passphrase
presentations/01-reversing/structure
presentations/01-reversing/structure.i64
presentations/01-reversing/t
presentations/01-reversing/t.c
presentations/02-exploitation/t

presentations/02-exploitation/assignments/root*
presentations/02-exploitation/assignments/*.bug
presentations/02-exploitation/assignments/*_canary
presentations/02-exploitation/assignments/simple_login
