*.swp
presentations/*/index.html
.vagrant
*.s
*.so
*.idb
*.nam
*.til
*.id0
*.id1
*.o
**/*.flag
**/.*.db
**/0*.html
build_asciidoc

presentations/02-exploitation/assignments/integer_conversion
presentations/02-exploitation/assignments/integer_overflow
presentations/02-exploitation/examples/simple_login
presentations/02-exploitation/examples/simple_login_canary
presentations/02-exploitation/images/simple_login_stack.png
presentations/02-exploitation/images/simple_login_stack_canary.png

presentations/03-shellcoding/examples/*.elf
presentations/03-shellcoding/examples/*.shellcode

presentations/04-advanced-exploitation/assignments/root/
presentations/04-advanced-exploitation/assignments/fmt
presentations/04-advanced-exploitation/assignments/fmt.bug
presentations/04-advanced-exploitation/images/printf_stack.png

**/peda-session*
**/core
**/.gdb_history

presentations/01-reversing/assignments/.gdbinit
presentations/01-reversing/assignments/ProsaBomb.bin
presentations/01-reversing/assignments/breakme
presentations/01-reversing/assignments/*.c
presentations/01-reversing/assignments/core
presentations/01-reversing/assignments/.gdb_history
presentations/01-reversing/blar
presentations/01-reversing/examples/prologue_epilogue.s_0
presentations/01-reversing/examples/prologue_epilogue.s_1
presentations/01-reversing/examples/prologue_epilogue.s_2
presentations/01-reversing/examples/prologue_epilogue.s_3
presentations/01-reversing/examples/prologue_epilogue.s_4
presentations/01-reversing/examples/prologue_epilogue.s_5
presentations/01-reversing/examples/t
presentations/01-reversing/examples/t.c
presentations/01-reversing/images/got_plt_01.png
presentations/01-reversing/images/got_plt_02.png
presentations/01-reversing/images/main_stack_frame.png
presentations/01-reversing/images/prologue_epilogue_01.png
presentations/01-reversing/images/prologue_epilogue_02.png
presentations/01-reversing/images/prologue_epilogue_03.png
presentations/01-reversing/images/prologue_epilogue_04.png
presentations/01-reversing/images/prologue_epilogue_05.png
presentations/01-reversing/images/sar.png
presentations/01-reversing/images/shl.png
presentations/01-reversing/images/shr.png
presentations/01-reversing/images/rol.png
presentations/01-reversing/images/ror.png
presentations/01-reversing/images/and.png
presentations/01-reversing/images/or.png
presentations/01-reversing/images/xor.png
presentations/01-reversing/index.xml
presentations/01-reversing/passphrase
presentations/01-reversing/structure
presentations/01-reversing/structure.i64

presentations/02-exploitation/assignments/root*
presentations/02-exploitation/assignments/*.bug
presentations/02-exploitation/assignments/*_canary
presentations/02-exploitation/assignments/*_pie
presentations/02-exploitation/assignments/simple_login

presentations/03-shellcoding/assignments/root
presentations/03-shellcoding/assignments/avoid_chars
presentations/03-shellcoding/assignments/egg_hunting
presentations/03-shellcoding/assignments/execute_256
presentations/03-shellcoding/assignments/flag
presentations/03-shellcoding/assignments/large_in_64
presentations/03-shellcoding/assignments/printable_shellcode
presentations/03-shellcoding/assignments/read_pointers
presentations/03-shellcoding/assignments/required_constants
presentations/03-shellcoding/assignments/shelly
presentations/03-shellcoding/assignments/stack_hunting
presentations/03-shellcoding/assignments/trampoline_few_bytes
presentations/03-shellcoding/assignments/treebuilder
presentations/03-shellcoding/assignments/write_pointers
presentations/03-shellcoding/images/encoder_decoder.png
presentations/03-shellcoding/images/off-by-a-few-solution.png
presentations/03-shellcoding/images/off-by-a-few.png
presentations/03-shellcoding/images/read_pointer-solution.png
presentations/03-shellcoding/images/read_pointer.png
presentations/03-shellcoding/images/required_constants-solution.png
presentations/03-shellcoding/images/write_pointer-solution.png
presentations/03-shellcoding/images/write_pointer.png

presentations/04-advanced-exploitation/images/arbitrary_pointer_1.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_2.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_3.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_4.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_5.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_6.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_7.png
presentations/04-advanced-exploitation/images/arbitrary_pointer_8.png
presentations/04-advanced-exploitation/images/bad_chaining.png
presentations/04-advanced-exploitation/images/good_chaining.png
presentations/04-advanced-exploitation/images/ret2libc_1.png
presentations/04-advanced-exploitation/images/ret2libc_2.png
presentations/04-advanced-exploitation/images/got_plt_01.png
presentations/04-advanced-exploitation/images/got_plt_02.png
presentations/04-advanced-exploitation/images/got_plt_03.png
presentations/04-advanced-exploitation/images/write_stack.png
presentations/04-advanced-exploitation/assignments/fmt_nx


upload.sh
